@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

/* 防止 iOS 打字時自動縮放頁面 */
input, textarea, select {
  font-size: 16px !important;
}